<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hola Mundo Angular</h1>
    <hr />
    <h2>Nuevo Intento de Aprender</h2>
    <hr />
    <h2>{{ title }}</h2>
    <h2>Counter => {{ counter }}</h2>
    <hr />
    <button (click)="increaseBy(5)">+5</button>
    <button (click)="reset()">Reset</button>
    <button (click)="decrementBy(5)">-5</button>
    <hr />
    <app-counter></app-counter>
    <hr />
    <app-heroes-hero></app-heroes-hero>
    <hr />
    <app-heroes-list></app-heroes-list>
  </body>
</html>
